# dotfiles
.env*

# node modules
/node_modules
yarn-debug.log*
yarn-error.log*

# build
*.zip
*.tar.gz
.next
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js

# misc
playground.mongodb
TODO
stuff.json
stuff.js
